---
- name: Install BIND (bypass broken dnf modules)
  command: >
    dnf install -y bind bind-utils --disablerepo=appstream
  args:
    creates: /usr/sbin/named
  become: yes

- name: Ensure named is enabled
  service:
    name: named
    enabled: yes
    state: started

- name: Disable SELinux
  selinux:
    state: disabled
  register: selinux_status

- name: Allow DNS in firewall
  firewalld:
    service: dns
    state: enabled
    permanent: yes
    immediate: yes

- name: Generate named.conf from template
  template:
    src: named.conf.j2
    dest: /etc/named.conf
    owner: root
    group: named
    mode: '0640'
    backup: yes
    validate: 'named-checkconf %s'
  notify:
    - Restart DNS

- name: Generate forward zone db
  template:
    src: db.forward.j2
    dest: /var/named/db.forward
    owner: named
    group: named
    mode: '0640'
  notify:
    - Check forward zone syntax
    - Restart DNS

- name: Generate reverse zone db
  template:
    src: db.reverse.j2
    dest: /var/named/db.reverse
    owner: named
    group: named
    mode: '0640'
  notify:
    - Check reverse zone syntax
    - Restart DNS