- name: Install chrony
  yum:
    name: chrony
    state: present

- name: Deploy NTP master configuration
  template:
    src: ntp-master.conf.j2
    dest: /etc/chrony.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart chronyd

- name: Enable NTP service in firewalld
  firewalld:
    service: ntp
    permanent: yes
    state: enabled
    immediate: yes
  notify: restart firewalld

- name: Enable and start chronyd
  systemd:
    name: chronyd
    enabled: yes
    state: started
