---
- name: Install HAProxy
  yum:
    name: haproxy
    state: present

- name: Deploy HAProxy configuration
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
    backup: yes
  notify: restart haproxy

- name: Allow HTTP (port 80) in firewalld
  firewalld:
    service: http
    permanent: yes
    state: enabled
    immediate: yes
  notify: restart firewalld

- name: Allow HAProxy stats page (port 8404) in firewalld
  firewalld:
    port: 8404/tcp
    permanent: yes
    state: enabled
    immediate: yes
  notify: restart firewalld

- name: Enable and start HAProxy
  systemd:
    name: haproxy
    enabled: yes
    state: started