---
# Manager Node Tasks
- name: Check if Swarm is already initialized
  shell: docker info --format '{{ '{{' }}.Swarm.LocalNodeState{{ '}}' }}'
  register: swarm_status
  changed_when: false
  become: yes
  when: inventory_hostname in groups['docker_swarm_manager']

- name: Initialize Docker Swarm on manager
  command: >
    docker swarm init
    --advertise-addr {{ docker_swarm_advertise_addr }}
  become: yes
  when:
    - inventory_hostname in groups['docker_swarm_manager']
    - swarm_status.stdout != "active"
  register: swarm_init

- name: Get Swarm worker join token
  command: docker swarm join-token worker -q
  register: worker_token
  become: yes
  when: inventory_hostname in groups['docker_swarm_manager']
  changed_when: false

- name: Store worker token as fact
  set_fact:
    swarm_worker_token: "{{ worker_token.stdout }}"
  when: inventory_hostname in groups['docker_swarm_manager']

- name: Get Swarm manager IP
  set_fact:
    swarm_manager_ip: "{{ hostvars[groups['docker_swarm_manager'][0]]['ansible_default_ipv4']['address'] }}"
  when: inventory_hostname in groups['docker_swarm_workers']

- name: Get worker token from manager
  set_fact:
    swarm_worker_token: "{{ hostvars[groups['docker_swarm_manager'][0]]['swarm_worker_token'] }}"
  when: inventory_hostname in groups['docker_swarm_workers']

# Worker Node Tasks
- name: Check if worker is already in Swarm
  shell: docker info --format '{{ '{{' }}.Swarm.LocalNodeState{{ '}}' }}'
  register: worker_swarm_status
  changed_when: false
  become: yes
  when: inventory_hostname in groups['docker_swarm_workers']

- name: Join workers to Swarm
  command: >
    docker swarm join
    --token {{ swarm_worker_token }}
    {{ swarm_manager_ip }}:{{ docker_swarm_port }}
  become: yes
  when:
    - inventory_hostname in groups['docker_swarm_workers']
    - worker_swarm_status.stdout != "active"

- name: Wait for Swarm cluster to be ready
  pause:
    seconds: 5
  when: inventory_hostname in groups['docker_swarm_manager']